<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISuppliers" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:86/Suppliers.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISuppliers" contract="ISuppliers"
                name="BasicHttpBinding_ISuppliers" />
        </client>
    </system.serviceModel>
</configuration>