<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProducts" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:86/Products.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProducts" contract="IProducts"
                name="BasicHttpBinding_IProducts" />
        </client>
    </system.serviceModel>
</configuration>